<div class="container">
    <div class="row">
        <div class="col-xl-3">
            <div class="listBox">
                <a class="nav-link" routerLink="from">Form Event</a>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="listBox">
                <a class="nav-link" routerLink="from">Form Event</a>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="listBox">
                <a class="nav-link" routerLink="from">Form Event</a>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="listBox">
                <a class="nav-link" routerLink="from">Form Event</a>
            </div>
        </div>
    </div>
</div>